<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <header></header>
        <main>
            <nav class="nav-contacts">
                <article id="user">
                    <div class="user-id">
                        <img :src="user.avatar" :alt="user.name" class="avatar">
                        <p class="name">{{user.name}}</p>
                    </div>
                    <div class="user-icons">
                        <i class="fa-solid fa-circle-notch icons-space"></i>
                        <i class="fa-solid fa-message icons-space"></i>
                        <i class="fa-solid fa-ellipsis-vertical icons-space"></i>
                    </div>
                </article>
                <input type="text" v-model="search" @keyup="searchContact">
                <article id="contacts-article">
                    <ul>
                        <li v-for="(contact, index) in contacts" @click="select(index)" class="contacts" key="index" :class="contact.name.includes(searchContact()) ? '' : 'none'">
                            <img :src="contact.avatar" :alt="contact.name" class="avatar">
                            <div>
                                <p class="name">{{contact.name}}</p>
                                <p class="last-msg">
                                    {{lastMsg(contact)}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </article>
            </nav>
            <section id="messagge-view">
                <nav class="active-contact">
                    <div>
                        <img :src="contacts[x].avatar" :alt="contacts[x].name" class="active-avatar">
                        <p class="name">{{contacts[x].name}}</p>
                    </div>
                    <div class="contact-icons">
                        <i class="fa-solid fa-circle-notch icons-space"></i>
                        <i class="fa-solid fa-message icons-space"></i>
                        <i class="fa-solid fa-ellipsis-vertical icons-space"></i>
                    </div>
                </nav>
                <section class="message">
                    <ul>
                        <li v-for="(sms, index) in contacts[x].messages" key="index">
                            <p :class="sms.status === 'sent' ? 'bg-green' : 'bg-white' " class="sms">
                                {{sms.message}}
                                <select name="" id="" class="dropdown" >
                                    <option value="delete" @click="deleteMsg(index)">delete</option>
                                </select>
                            </p>
                        </li>
                    </ul>
                </section>
                <section class="input-msg">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" v-model="newMessage" @keyup.enter="sentMessage()">
                    <i class="fa-solid fa-microphone"></i>
                </section>
            </section>
        </main>

    </div>

    <script src="./js/script.js"></script>
</body>
</html>